<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    
    <title>Document</title>
</head>
<body>

    <%-  include('./partials/navbar.ejs') %>
    <section class="main">

        <div class="left">
            <h1>DashBorad</h1>
            <div class="dashboard-items">
                <div class="dashboard-item">
                    <i class="fas fa-user-edit"></i>
                    <h4>Profile</h4>
                </div>
                <div class="dashboard-item">
                    <i class="fas fa-building"></i>
                    <h4>Appointment</h4>
                </div>
                <div class="dashboard-item">
                    <i class="fas fa-pen-alt"></i>
                    <h4>create/Edit Schedule</h4>
                </div>
                <div class="dashboard-item">
                    <i class="fas fa-user-edit"></i>
                    <h4>Profile</h4>
                </div>
            </div>
        </div>
        <div class="right">
            <form action="/profile" method="POST" enctype="multipart/form-data">
                <div class="heading">
                    <h3>Account</h3>
                    <button type="submit">Save</button>
                </div>
                <div class="first">
                    <div class="photo-and-name">
                        <div class="photo-div">
                            <p>PROFILE PHOTO</p>
                            <div class="photo-item">
                                <div class="image">
                                    <% if(locals.user.avtar !== null){ %> 
                                    <img src='<%= locals.user.avtar %> ' alt="">
                                    <%}else{ %>
                                    <img src="../assets/fem.png" alt="doctor avtar"> 
                                    <%} %> 
                                </div>
                                <p>Pick a photo from yoru computer</p>
                                <input type="file" name="avtar">
                            </div>
                            
                        </div>
                        <div class="item">
                            <p>Name</p>
                            <input type="text" name="name" value="<%= locals.user.name %> " disabled>
                        </div>
                    </div>
                    <div class="second">
                        <div class="item">
                            <div class="phone">
                                <p>Phone NUmber</p>
                                <p>Edit</p>
                            </div>
                            <input type="text" name="phone" value="<%= locals.user.phone %> " disabled>
                        </div>
        
                        <div class="item">
                            <p>Emain</p>
                            <input type="text" name="email" value="<%= locals.user.email%> " disabled>
                        </div>
                        <div class="item">
                            <p>Gender</p>
                            <input type="text" name="gender" value="<%= locals.user.gender %> " disabled>
                        </div>
                        <div class="item">
                            <p>Date of Birth</p>
                            <input type="text" name="dob" value="<%= locals.user.dob %> " disabled>
                        </div>
                        <div class="item">
                            <p>TimeZone</p>
                            <input type="text" name="timezone">
                        </div>
                    </div>
                    <div class="second">
                        <div class="item">
                            <p>House no/Street Number/Area</p>
                            <input type="text" name="house" >
                        </div>
                        <div class="item">
                            <p>Colony/Street/Locality</p>
                            <input type="text"  name="colony">
                        </div>
                        <div class="item">
                            <p>City</p>
                            <input type="text" name="city"  value= '<%= locals.user.city %>'>
                        </div>
                        <div class="item">
                            <p>State</p>
                            <input type="text" name="state" value= '<%= locals.user.state %>' >
                        </div>
                        <div class="item">
                            <p>Country</p>
                            <input type="text" name="country"  value= '<%= locals.user.country %>'>
                        </div>
                    </div>
        
                    <div class="second">
                        <div class="item">
                            <p>Speciality</p>
                            <input type="text"  name="speciality" value="<%= locals.user.speciality %> ">
                        </div>
                        <div class="item">
                            <p>Qualification</p>
                            <input type="text" name="qualification"  value="<%= locals.user.speciality %>">
                        </div>
                        <div class="item">
                            <p>Treatments</p>
                            <input type="text" name="treatmentList" value="<%= locals.user.treatmentList %>" >
                        </div>
                        <div class="item">
                            <p>Hospitals</p>
                            <input type="text" name="hospitalList" value="<%= locals.user.hospitalList %>" >
                        </div>
                        <div class="item">
                            <p>Awards</p>
                            <input type="text" name="awards" value="<%= locals.user.awards %>">
                        </div>
                        <div class="item">
                            <p>Year of Experience</p>
                            <input type="text" name="experience"  value=" <%= locals.user.experience %>  ">
                        </div>
                        <div class="item">
                            <p>Average Fees</p>
                            <input type="text" name="avgFees" value=" <%= locals.user.avgFees %>  " >
                        </div>
                        <div class="item">
                            <p>Location</p>
                            <input type="text" name='location' value=" <%= locals.user.location %>  " >
                        </div>
                    </div>
                    
                </div>
                
            </form>
            
        </div>
    </section>

</body>
</html>