<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css//tagify.css">

    <link rel="stylesheet" href="../css/theme.css">

    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    <script src="../js/tagify.js"></script>
    <title>Document</title>
</head>
<body>

    <%-  include('./partials/navbar.ejs') %>
    <section class="main">

        <div class="left">
            <h1>DashBorad</h1>
            <div class="dashboard-items">
                <div class="dashboard-item">
                    <a href="/profile">
                        <i class="fas fa-user-edit active"></i>
                        <h4 class="active">Profile</h4>
                    </a>
                </div>
                <div class="dashboard-item">
                    <a href="/appiontment">
                        <i class="fas fa-building"></i>
                        <h4>Appointment</h4>
                    </a>  
                </div>
                <div class="dashboard-item">
                    <a href="/editSchedule">
                        <i class="fas fa-pen-alt"></i>
                        <h4>create/Edit Schedule</h4>                    
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <form action="/profile" method="POST" enctype="multipart/form-data">
                <div class="heading">
                    <h3>Account</h3>
                    <button type="submit">Save</button>
                </div>
                <div class="first">
                    <div class="photo-and-name">
                        <div class="photo-div">
                            <p>PROFILE PHOTO</p>
                            <div class="photo-item">
                                <div class="image">
                                    <% if(locals.user.avtar !== null){ %> 
                                    <img src='<%= locals.user.avtar %> ' alt="">
                                    <%}else{ %>
                                    <img src="../assets/fem.png" alt="doctor avtar"> 
                                    <%} %> 
                                </div>
                                <p>Pick a photo from yoru computer</p>
                                <input type="file" name="avtar">
                            </div>
                            
                        </div>
                        <div class="item">
                            <p>Name</p>
                            <input type="text" name="name" value="<%= locals.user.name %>" disabled>
                        </div>
                    </div>
                    <div class="second">
                        <div class="item">
                            <div class="phone">
                                <p>Phone Number</p>
                                <button type='button' class="ButtonLink" onclick="showEdit()">Edit</button>
                            </div>
                            <input type="text" name="phone" value="<%= locals.user.phone %>" disabled>
                        </div>
        
                        <div class="item">
                            <p>Emain</p>
                            <input type="text" name="email" value="<%= locals.user.email%>" disabled>
                        </div>
                        <div class="item">
                            <p>Gender</p>
                            <input type="text" name="gender" value="<%= locals.user.gender %>" disabled>
                        </div>
                        <div class="item">
                            <p>Date of Birth</p>
                            <input type="text" name="dob" value="<%= locals.user.dob %>" disabled>
                        </div>
                        <div class="item">
                            <p>TimeZone</p>
                            <input type="text" name="timezone">
                        </div>
                    </div>
                    <div class="second">
                        <div class="item">
                            <p>House no/Street Number/Area</p>
                            <input type="text" name="house"   value= '<%= locals.user.house %>'>
                        </div>
                        <div class="item">
                            <p>Colony/Street/Locality</p>
                            <input type="text"  name="colony"  value= '<%= locals.user.colony %>'>
                        </div>
                        <div class="item">
                            <p>City</p>
                            <input type="text" name="city"  value= '<%= locals.user.city %>'>
                        </div>
                        <div class="item">
                            <p>State</p>
                            <input type="text" name="state" value= '<%= locals.user.state %>' >
                        </div>
                        <div class="item">
                            <p>Country</p>
                            <input type="text" name="country"  value= '<%= locals.user.country %>'>
                        </div>
                    </div>
        
                    <div class="second">
                        <div class="item">
                            <p>Speciality</p>
                            <input type="text"  name="speciality" value="<%= locals.user.speciality %>">
                        </div>
                        <div class="item">
                            <p>Qualification</p>
                            <input type="text" name="qualification"  value="<%= locals.user.qualification %>">
                        </div>
                        <div class="item">
                            <p>Treatments</p>
                            <input type="text" name="treatmentList" value="<%= locals.user.treatmentList %>" >
                        </div>
                        <div class="item">
                            <p>Hospitals</p>
                            <input type="text" name="hospitalList" value="<%= locals.user.hospitalList %>" >
                        </div>
                        <div class="item">
                            <p>Awards</p>
                            <input type="text" name="awards" value="<%= locals.user.awards %>">
                        </div>
                        <div class="item">
                            <p>Year of Experience</p>
                            <input type="text" name="experience"  value="<%= locals.user.experience %>">
                        </div>
                        <div class="item">
                            <p>Average Fees</p>
                            <input type="text" name="avgFees" value="<%= locals.user.avgFees %>" >
                        </div>
                        <div class="item">
                            <p>Location</p>
                            <input type="text" name='location' value="<%= locals.user.location %>" >
                        </div>
                    </div>
                    
                </div>
                
            </form>
        </div>
    </section>
    <section class="edit-number">
        <i class="fas fa-times-circle fa-2x close" onclick="closeEdit()" ></i>
        <div class="form-div">
            <h3>Edit Phone number</h3>
        
            <form action="/changePhoneOtp" method="POST" class="login">
                <input type="text" name="number" placeholder="Enter your new phone number"  required>
                <button type="submit" onclick="changeview()">send OTP <span><i class="fas fa-arrow-right"></i></span></button>
            </form>
        </div>
        
    </section>

    

    <script>

        var speciality = document.querySelector('input[name = speciality]'),
            tagify = new Tagify(speciality);
        var qualification = document.querySelector('input[name = qualification]'),
            tagify = new Tagify(qualification);
        var treatmentList = document.querySelector('input[name = treatmentList]'),
            tagify = new Tagify(treatmentList);
        var hospitalList = document.querySelector('input[name = hospitalList]'),
            tagify = new Tagify(hospitalList);

        function showEdit(){
            var elem = document.getElementsByClassName('edit-number')[0];
            elem.style.display = 'flex';
        }
        function closeEdit(){
            var elem = document.getElementsByClassName('edit-number')[0];
            elem.style.display = 'none';
        }
        function closeVerify(){
            var elem = document.getElementsByClassName('verify-otp')[0];
            elem.style.display = 'none';
        }
        function changeview(){
            var elem = document.getElementsByClassName('edit-number')[0];
            elem.style.display = 'none';
            var diff = document.getElementsByClassName('verify-otp')[0];
            diff.style.display = 'flex';
        }
    </script>
</body>
</html>